@import '@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.registreTitle{
    color:#24A19C;
}

.bg-btn-register,.bg-type
{
    background-color: #24A19C;
}

#particulier,
#professionnel {
        width: 45%;
        padding-left: 15% !important;
    }

@media (max-width: 900px) {
    #particulier,
    #professionnel {
        padding-left: 12% !important;
    }
}
@media (max-width: 850px) {

    .form-div{
        padding: 8px !important;
    }
}
@media (max-width: 1264px) {
    .title-div span{
        width: 20%;
    }

}
@media (max-width: 1076px) {
    .title-div span{
        width: 15%;
    }

}
@media (max-width: 935px) {
    .title-div span{
        width: 12%;
    }

}
@media (max-width: 885px) {
    .title-div span{
        width: 10%;
    }

}
@media (max-width: 340px) {
    .title-div span{
        width: 7%;
    }
    .text-Inscrivez{
        padding: 0px !important;
    }

}
@media  (max-width: 300px) {

#particulier,
    #professionnel {
        padding-left: 5% !important;
        width: 50%;

    }
}
.border-focus:focus{
    border-color: #24A19C !important;
}
.input-check-color{
    color: #24A19C;
}
 input[type="file"] {
        display: none;
    }
