@import '@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.registreTitle{
    color:#24A19C;
}

.bg-btn-register,.bg-type,.btn-add-offre
{
    background-color: #24A19C;
}

#particulier,
#professionnel {
        width: 45%;
        padding-left: 15% !important;
    }


select:active,select:focus {
    outline: none;
    border:1px solid #24A19C;
}



@media (max-width: 1264px) {
    .title-div span{
        width: 20%;
    }
    .login-div{
        width: 50%;
    }
    .add-offre-section{
        width: 90%;
    }
    .sidebar{
        width: 30%;
    }
}
@media (max-width: 1076px) {
    .title-div span{
        width: 15%;
    }
    .login-div{
        width: 60%;
    }
}
@media (max-width: 935px) {
    .title-div span{
        width: 12%;
    }
    .login-div{
        width: 70%;
    }
     .add-offre-section{
        width: 100%;
        padding: 10px;
    }
    .add-offre,.add-offre-annonce,.add-offre-location{
        flex-wrap: wrap;
    }
    .add-offer-select{
        /* border:1px solid; */
        width: 40%;
        display: flex;

    }
    .add-offer-select label{
        /* border: 1px solid red; */
        width: 50%;
    }

}
@media (max-width: 900px) {
    #particulier,
    #professionnel {
        padding-left: 12% !important;
    }
}
@media (max-width: 885px) {
    .title-div span{
        width: 10%;
    }
    .sidebar{
        width: 35%;
    }

}
@media (max-width: 850px) {

    .form-div{
        padding: 8px !important;
    }
    .footer-login .partie-droite{
        left: 27% ;
        bottom: 50px;
    }
     .footer-login .partie-gauche{
        left: 22%;
    }
}
@media (max-width: 765px) {

    .title-div-login span{
        width: 10%;
    }
    .footer-login .partie-droite{
        left: 26% ;
    }
    .footer-login .partie-gauche{
        left: 20%;
    }
    .add-offer-select{
        display: block;
        width: 100%;
    }
    .add-offre-image {
        display: flex;
        flex-wrap: wrap;

    }
    .input-div-nom{
        width: 100%;
    }
    select,input,.input-div,.div-image{
        width: 80% !important;
    }



}
@media (max-width: 650px) {

    .title-div-login span{
        width: 8%;
    }
    .login-div{
        width: 77%;
        margin-top: 20px;
    }
    .footer-login .partie-droite{
        left: 23% ;
    }
    .footer-login .partie-gauche{
        left: 14%;
    }
    .sidebar{
        width: 45%;
    }

}
@media (max-width: 580px) {
.login-div{
        width: 82%;
    }
    .title-div-login span{
        width: 5%;
    }
   .footer-login .partie-droite{
        left: 17% ;
        bottom: 7%;
    }
    .footer-login .partie-gauche{
        left: 3%;
        top: 94%;
    }
    .google-fb{
        flex-wrap: wrap;
        gap: 10px;
    }
    .facebook ,
    .google{
        width: 100%!important;
        margin: 0px !important;
    }
     .footer-login {
        text-align: center;
    }
    .sidebar{
        width: 50%;
    }

}
@media (max-width: 465px) {

    .login-div{
        border-radius: none !important;
        margin-top: 0px;
        padding: 10px;
        width: 100%;
    }
    .footer-login .partie-droite,.partie-gauche{

        left: 10% ;
    }
       .sidebar{
        width: 65%;
        margin-left: 0!important;
        margin: auto!important;
    }

}
@media (max-width: 340px) {
    .title-div span{
        width: 7%;
    }
    .text-Inscrivez{
        padding: 0px !important;
    }
   .footer-login .partie-droite{
        left: 1%!important ;
    }
       .sidebar{
        width: 80%;
    }
}
@media  (max-width: 300px) {

#particulier,
    #professionnel {
        padding-left: 5% !important;
        width: 50%;

    }
    .footer-login{
        position: none !important; ;
        height: 40%;
    }
}


.border-focus:focus{
    border-color: #24A19C !important;
}
.input-check-color{
    color: #24A19C;
}
 input[type="file"] {
        display: none;
    }
